<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
  <title>Flask SSO </title>
</head>

<body>
  <h1>Flask Login</h1>
  <div class="oauth-box">
    <div id="oauth-google">
      <a href="{{ url_for('login') }}">
        <img src="{{ url_for('static', filename='/images/google-logo.png') }}" width="55px" height="55px"
          alt="Google logo">
      </a>
    </div>
    <div id="oauth-google">
      <a href="{{ url_for('github_login') }}">
        <img src="{{ url_for('static', filename='/images/github-logo.png') }}" width="41px" height="42px"
          alt="Github logo">
      </a>
    </div>
    <!-- <div id="oauth-google">
      <a href="#">
        <img src="{{ url_for('static', filename='/images/facebook-logo.png') }}" width="55px" height="55px"
          alt="Facebook logo">
      </a>
    </div> -->
  </div>
</body>

</html>